body{
    background-image:url("todo.jpg");
    background-size: cover;
    text-align: center;

}
h1{
    color:lightcoral;
    font-style: oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
h3{
    color: lightslategray;
}


button{
    color: rgb(19, 18, 18);

}